<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"content="ie=edge">
    <link rel="stylesheet"type="text/css"href="register-test.css">
    <title>Test Registration</title>
</head>
<body>
    <div class="wrapper">
        <header>
           
            <ul class="navbar">
                <span class="logo">DGSS</span>
                <li><a href="#">Home</a></li>
                <li><a href="#">Application</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Assessments</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>

        </header>
        <div class="reg">
            <h1>REGISTER TEST</h1>
        </div>
        <section class="main-body">
            <div class="info">
                <ul class="sub">
                    <li>
                        <p>SUBJECT</p>
                        <p>MATHEMATICS</p>
                    </li>
                    <li>
                        <p>TOTAL MARKS</p>
                        <p>100</p>
                    </li>
                    <li>
                        <p>DURATION</p>
                        <p>2 HOURS</p>
                    </li>
                    <li>
                        <p>DATE</p>
                        <p>12-12-2020</p>
                    </li>
                </ul>
               <strong><p>THIS IS SET UP TO IMPROVE YOUR SKILLS IN MATHEMATICS<br> WE ENCOURAGE YOU TO PUT TO PUT YOU OUTMOST BEST IN THIS <br>ASSESSMENT!!</p></strong>

               <form action="success.html" method="GET">
                   <label class="name" for="name">STUDENT PASSWORD</label>
                   <input class="text" id="password" name="STUDENT PASSWORD" type="password"> <br><br>

                   <label class="name" for="Checkbox">AGREE TO TAKE THIS TEST</label>
                   <input class="chk" id="Checkbox" name="Checkbox"
                   value="The checkbox is not checked" type="checkbox" not checked><br><br>

                   <input class="submit" type="submit" value="Submit">
               </form> <br><br>

            </div>
        </section>
</body>
</html>